<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.weichuang"/>

   <!-- <bean name="user" class="com.weichuang.pojo.User" >
        &lt;!&ndash;set方法注入&ndash;&gt;
        <property name="name" value="wangwu"></property>
        <property name="age" value="22"></property>
        <property name="car" ref="car"></property>
        <property name="scores">
            <list>
                <value>92</value>
                <value>66</value>
                <value>33</value>
            </list>
        </property>
    </bean>

  -->
    <bean name="user2" class="com.weichuang.pojo.User" scope="prototype">
        <property name="name" value="wangwu"></property>
        <property name="age" value="22"></property>
    </bean>

    <bean name="car" class="com.weichuang.pojo.Car">
        <property name="name" value="兰博基尼"></property>
        <property name="color" value="蓝色"></property>
    </bean>

</beans>