<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd" >
    <context:component-scan base-package="com.weichuang"/>

   <!-- <bean name="user" class="com.weichuang.pojo.User" >
        &lt;!&ndash;set方法注入&ndash;&gt;
        <property name="name" value="wangwu"></property>
        <property name="age" value="22"></property>
        <property name="car" ref="car"></property>
        <property name="scores">
            <list>
                <value>92</value>
                <value>66</value>
                <value>33</value>
            </list>
        </property>
    </bean>

  -->
   <!-- <bean name="user2" class="com.weichuang.pojo.User" scope="prototype">
        <property name="name" value="wangwu"></property>
        <property name="age" value="22"></property>
    </bean>

    <bean name="car" class="com.weichuang.pojo.Car">
        <property name="name" value="兰博基尼"></property>
        <property name="color" value="蓝色"></property>
    </bean>-->

    <bean name="myAdvice" class="com.weichuang.advice.MyAdvice"></bean>

    <bean name="userService" class="com.weichuang.transfer.UserServiceImpl"></bean>
    <bean name="accountDao" class="com.weichuang.transfer.AccountDao"></bean>
    <bean name="productService" class="com.weichuang.service.ProductServiceImpl"></bean>
<!--    <aop:config>
        &lt;!&ndash;切入点配置&ndash;&gt;
        <aop:pointcut id="pc" expression="execution(* com.weichuang.service.*Impl.*())"></aop:pointcut>
        <aop:aspect ref="myAdvice">
            <aop:before method="before" pointcut-ref="pc"></aop:before>
            <aop:after method="after" pointcut-ref="pc"></aop:after>
            <aop:around method="around" pointcut-ref="pc"></aop:around>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pc"></aop:after-throwing>
            <aop:after-returning method="afterReturning" pointcut-ref="pc"></aop:after-returning>
        </aop:aspect>
    </aop:config>-->
    <!--开启了aop通知注解配置-->
    <aop:aspectj-autoproxy/>

    <!--c3p0数据源-->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"></bean>
    <!--jdbc摸版对象-->
    <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--事务管理器-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--事务摸版对象-->
    <bean name="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"></property>
    </bean>
    <!--配置切面，通知类-->
    <!--<tx:advice id="txAd">
        <tx:attributes>
            <tx:method name="transfer"/>
            <tx:method name="save*"/>
            <tx:method name="add*"/>
            <tx:method name="delete*"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="update*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com.weichuang.transfer.*Impl.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="txAd" pointcut-ref="pc"></aop:advisor>
    </aop:config>-->

    <tx:annotation-driven/>
</beans>